# Introduction to Data Science – Relational Databases
*COMP 5360 / MATH 4100, University of Utah, http://datasciencecourse.net/* 

Up to now, we've mainly used flat tables to store and process data. Most structured data in the real world, however, is stored in databases, and specifically in [relational databases](https://en.wikipedia.org/wiki/Relational_database). Other database types have specific advantages, such as performance (NoSQL), are suitable for graphs (graph databases, e.g., Neo4j), or are compatibility with in-memory OO data structures (Object Oriented Databases). Relational databases, and their implementations - Relational Database Management Systems (RDBMS), are still the dominant way to store enterprise data though.

Unlike with APIs or web-scarping, it is unlikely that you will be able to access a public database directly. Databases are powerful, but also can be somewhat difficult to use. It's more likely that an API that you interact with is powerd by a relational database behind the scenes, hiding the complexity.

Also, while we've mainly considered reading data, databases are meant also for writing, increasing the potential for abuse. So the most likely scenario for having read/write access to a database is if the database is managed by you or your organization.

What's the purpose of a relational database? It separates data into multiple tables to avoid redundancy. Here is a simple example for an online transaction in a flat table that describes the data:

| Product Name | Price | Product Description | Customer Name | Customer Address| 
| ------------- | - | - | - | -| 
| MacBook | 2700 | MacBook Pro 15' | Jack Black | San Francisco |  
| Dongle HDMI | 40 | USB-C to HDMI | Jack Black | San Francisco | 
| Dongle USB-B | 40 | USB-C to USB-B | Jack Black | San Francisco | 

The problem here is that we store the name of the customer multiple times, and, if multiple customers purchase the same item, also all the information about the products. Obviously, that's neither great from a storage efficiency perspective nor from an update perspective. If Jack Black wants to update his address, for example, than we'd have to update all three rows.

A different approach is to separate this table into multiple, meaningful tables. We'll introduce a Customers, Products and a Transactions table. And we'll introduce keys for each row in this table:

**Customers Table**:

| CID | Customer Name | Customer Address | 
| - | - | - |
| 1 | Jack Black | San Francisco |

**Products Table**:

| PID | Product Name | Price | Product Description |
| - | - | - | - | 
| 1 | MacBook | 2700 | MacBook Pro 15' |
| 2 | Dongle HDMI | 40 | USB-C to HDMI |
| 3 | Dongle USB-B | 40 | USB-C to USB-B |

CID and PID are called **primary keys**, as they uniquely identify the row in the table. 

The Transaction Table now refers to the products and the customers only by their keys, which are called **foreign keys** in this context, as they are the primary keys of a "foreign" table.

**Transactions Table**: 

| TID | PID | CID | 
| - | - | - |
| 1 | 1 | 1 | 
| 2 | 3 | 1 | 
| 3 | 2 | 1 | 

Now, if Jack Black wants to update his address, or if the seller wants to update the product description, we can do this in a single place. 

Of course, we have to do a little more work to regenerate (an interesting subset) of transactions, as we had it before. In this lab we'll learn how to do that and more.

## Relational Database Management System (RDBMS) Transactions

RDBMS are designed to support **read, write, and update** transactions, in addition to operations that **create tables**, etc. In practice, for a database to remain consistent, these transactions have to guarantee [certain properties](https://en.wikipedia.org/wiki/ACID). We'll largely ignore updates, creating tables, etc. – these are operations that you'll likely need if you build a web-application. For the purpose of our data science class, we'll stick to reading/querying for data, as we want to learn **how to get data out of a database**. You can learn more about databases in CS 6530 or the undergrad version CS 5530.

## SQL - The Structured Query Language


[SQL](https://en.wikipedia.org/wiki/SQL) is a domain specific language to execute the transactions described above. We'll look mainly at queries to read and aggregate data. 

Here is a very simple query:

```SQL
SELECT * FROM products
```

This statement selects and retreives all rows (`*`) from the table `products`.

We can restrict the number of lines to retrieve with a `WHERE` clause:

```SQL
SELECT * FROM products WHERE 'Price' > 100
```

This retrieves all the rows where the price is higher than 100. 

We'll go through more specific SQL statements on real examples. You can learn more about SQL [online](https://www.codecademy.com/learn/learn-sql).

## SQLite

Most database management systems are implemented as client-server systems, i.e., the database is hosted on a dedicated server where multiple users can read and write. Examples are [PostgreSQL](https://www.postgresql.org/), [MySQL](https://www.mysql.com/) or [Oracle](https://www.oracle.com/database/index.html). These database management systems are fast and can handle multiple users withouth causing conflicts. However, they require a separate server and installation, so we'll use [SQLite](https://sqlite.org/), a database that works for individual users and stores the whole database in a single file. SQLite is widely used for single-user cases and will serve our purposes. 

While these different databases have different features and performance characteristics, they all support SQL, so the skills you will learn here transfer widely.

We'll also use the [sqlite python interface](https://docs.python.org/3/library/sqlite3.html).

## Sample Database

This tutorial uses the SQLite sample database found [here](http://www.sqlitetutorial.net/sqlite-sample-database/).

Here is a chart of the database schema: 

![](database_schema.png)

 * `employees` table stores employees data such as employee id, last name, first name, etc. It also has a field named `ReportsTo` to specify who reports to whom.
 * `customers` table stores customers data.
 * `invoices & invoice_items` tables: these two tables store invoice data. The invoices table stores invoice header data and the invoice_items table stores the invoice line items data.
 * `artists` table stores artists data. It is a simple table that contains only artist id and name.
 * `albums` table stores data about a list of tracks. Each album belongs to one artist. However, one artist may have multiple albums.
 * `media_types` table stores media types such as MPEG audio file, ACC audio file, etc.
 * `genres` table stores music types such as rock, jazz, metal, etc.
 * `tracks` table store the data of songs. Each track belongs to one album.
 * `playlists` & `playlist_track` tables: playlists table store data about playlists. Each playlist contains a list of tracks. Each track may belong to multiple playlists. The relationship between the playlists table and tracks table is many-to-many. The playlist_track table is used to reflect this relationship.
 
The diagram above highlights the **primary keys** in each table and the relationships, using **foreign keys** to each other table. Note that `employees` has a self-reference, to capture the reports-to relationship.

## Querying the Table

In [1]:
import pandas as pd
import sqlite3 as sq

# we connect to the database, which - in the case of sqlite - is a local file
conn = sq.connect("./chinook.db")
# we retreive the "cursor" on the database.
c = conn.cursor()

# now we can execute a SQL statement
c.execute("SELECT * FROM albums")
# and print the first line from the result
print(c.fetchone())

(1, 'For Those About To Rock We Salute You', 1)

Here, we used a cursor for accessing the data. To retrieve data after executing a SELECT statement, you can either treat the cursor as an iterator, call the cursor’s `fetchone()` method to retrieve a single matching row, or call `fetchall()` to get a list of the matching rows.

This is how you use it as an iterator:

In [2]:
for row in c:
    print(row)

(2, 'Balls to the Wall', 2)
(3, 'Restless and Wild', 2)
(4, 'Let There Be Rock', 1)
(5, 'Big Ones', 3)
(6, 'Jagged Little Pill', 4)
(7, 'Facelift', 5)
(8, 'Warner 25 Anos', 6)
(9, 'Plays Metallica By Four Cellos', 7)
(10, 'Audioslave', 8)
(11, 'Out Of Exile', 8)
(12, 'BackBeat Soundtrack', 9)
(13, 'The Best Of Billy Cobham', 10)
(14, 'Alcohol Fueled Brewtality Live! [Disc 1]', 11)
(15, 'Alcohol Fueled Brewtality Live! [Disc 2]', 11)
(16, 'Black Sabbath', 12)
(17, 'Black Sabbath Vol. 4 (Remaster)', 12)
(18, 'Body Count', 13)
(19, 'Chemical Wedding', 14)
(20, 'The Best Of Buddy Guy - The Millenium Collection', 15)
(21, 'Prenda Minha', 16)
(22, 'Sozinho Remix Ao Vivo', 16)
(23, 'Minha Historia', 17)
(24, 'Afrociberdelia', 18)
(25, 'Da Lama Ao Caos', 18)
(26, 'Acústico MTV [Live]', 19)
(27, 'Cidade Negra - Hits', 19)
(28, 'Na Pista', 20)
(29, 'Axé Bahia 2001', 21)
(30, 'BBC Sessions [Disc 1] [Live]', 22)
(31, 'Bongo Fury', 23)
(32, 'Carnaval 2001', 21)
(33, 'Chill: Brazil (Disc 1)', 24)
(34, 'Chill: Brazil (Disc 2)', 6)
(35, 'Garage Inc. (Disc 1)', 50)
(36, 'Greatest Hits II', 51)
(37, 'Greatest Kiss', 52)
(38, 'Heart of the Night', 53)
(39, 'International Superhits', 54)
(40, 'Into The Light', 55)
(41, 'Meus Momentos', 56)
(42, 'Minha História', 57)
(43, 'MK III The Final Concerts [Disc 1]', 58)
(44, 'Physical Graffiti [Disc 1]', 22)
(45, 'Sambas De Enredo 2001', 21)
(46, 'Supernatural', 59)
(47, 'The Best of Ed Motta', 37)
(48, 'The Essential Miles Davis [Disc 1]', 68)
(49, 'The Essential Miles Davis [Disc 2]', 68)
(50, 'The Final Concerts (Disc 2)', 58)
(51, "Up An' Atom", 69)
(52, 'Vinícius De Moraes - Sem Limite', 70)
(53, 'Vozes do MPB', 21)
(54, 'Chronicle, Vol. 1', 76)
(55, 'Chronicle, Vol. 2', 76)
(56, 'Cássia Eller - Coleção Sem Limite [Disc 2]', 77)
(57, 'Cássia Eller - Sem Limite [Disc 1]', 77)
(58, 'Come Taste The Band', 58)
(59, 'Deep Purple In Rock', 58)
(60, 'Fireball', 58)
(61, "Knocking at Your Back Door: The Best Of Deep Purple in the 80's", 58)
(62, 'Machine Head', 58)
(63, 'Purpendicular', 58)
(64, 'Slaves And Masters', 58)
(65, 'Stormbringer', 58)
(66, 'The Battle Rages On', 58)
(67, "Vault: Def Leppard's Greatest Hits", 78)
(68, 'Outbreak', 79)
(69, 'Djavan Ao Vivo - Vol. 02', 80)
(70, 'Djavan Ao Vivo - Vol. 1', 80)
(71, 'Elis Regina-Minha História', 41)
(72, 'The Cream Of Clapton', 81)
(73, 'Unplugged', 81)
(74, 'Album Of The Year', 82)
(75, 'Angel Dust', 82)
(76, 'King For A Day Fool For A Lifetime', 82)
(77, 'The Real Thing', 82)
(78, 'Deixa Entrar', 83)
(79, 'In Your Honor [Disc 1]', 84)
(80, 'In Your Honor [Disc 2]', 84)
(81, 'One By One', 84)
(82, 'The Colour And The Shape', 84)
(83, 'My Way: The Best Of Frank Sinatra [Disc 1]', 85)
(84, 'Roda De Funk', 86)
(85, 'As Canções de Eu Tu Eles', 27)
(86, 'Quanta Gente Veio Ver (Live)', 27)
(87, 'Quanta Gente Veio ver--Bônus De Carnaval', 27)
(88, 'Faceless', 87)
(89, 'American Idiot', 54)
(90, 'Appetite for Destruction', 88)
(91, 'Use Your Illusion I', 88)
(92, 'Use Your Illusion II', 88)
(93, 'Blue Moods', 89)
(94, 'A Matter of Life and Death', 90)
(95, 'A Real Dead One', 90)
(96, 'A Real Live One', 90)
(97, 'Brave New World', 90)
(98, 'Dance Of Death', 90)
(99, 'Fear Of The Dark', 90)
(100, 'Iron Maiden', 90)
(101, 'Killers', 90)
(102, 'Live After Death', 90)
(103, 'Live At Donington 1992 (Disc 1)', 90)
(104, 'Live At Donington 1992 (Disc 2)', 90)
(105, 'No Prayer For The Dying', 90)
(106, 'Piece Of Mind', 90)
(107, 'Powerslave', 90)
(108, 'Rock In Rio [CD1]', 90)
(109, 'Rock In Rio [CD2]', 90)
(110, 'Seventh Son of a Seventh Son', 90)
(111, 'Somewhere in Time', 90)
(112, 'The Number of The Beast', 90)
(113, 'The X Factor', 90)
(114, 'Virtual XI', 90)
(115, 'Sex Machine', 91)
(116, 'Emergency On Planet Earth', 92)
(117, 'Synkronized', 92)
(118, 'The Return Of The Space Cowboy', 92)
(119, 'Get Born', 93)
(120, 'Are You Experienced?', 94)
(121, 'Surfing with the Alien (Remastered)', 95)
(122, 'Jorge Ben Jor 25 Anos', 46)
(123, 'Jota Quest-1995', 96)
(124, 'Cafezinho', 97)
(125, 'Living After Midnight', 98)
(126, 'Unplugged [Live]', 52)
(127, 'BBC Sessions [Disc 2] [Live]', 22)
(128, 'Coda', 22)
(129, 'Houses Of The Holy', 22)
(130, 'In Through The Out Door', 22)
(131, 'IV', 22)
(132, 'Led Zeppelin I', 22)
(133, 'Led Zeppelin II', 22)
(134, 'Led Zeppelin III', 22)
(135, 'Physical Graffiti [Disc 2]', 22)
(136, 'Presence', 22)
(137, 'The Song Remains The Same (Disc 1)', 22)
(138, 'The Song Remains The Same (Disc 2)', 22)
(139, 'A TempestadeTempestade Ou O Livro Dos Dias', 99)
(140, 'Mais Do Mesmo', 99)
(141, 'Greatest Hits', 100)
(142, 'Lulu Santos - RCA 100 Anos De Música - Álbum 01', 101)
(143, 'Lulu Santos - RCA 100 Anos De Música - Álbum 02', 101)
(144, 'Misplaced Childhood', 102)
(145, 'Barulhinho Bom', 103)
(146, 'Seek And Shall Find: More Of The Best (1963-1981)', 104)
(147, 'The Best Of Men At Work', 105)
(148, 'Black Album', 50)
(149, 'Garage Inc. (Disc 2)', 50)
(150, "Kill 'Em All", 50)
(151, 'Load', 50)
(152, 'Master Of Puppets', 50)
(153, 'ReLoad', 50)
(154, 'Ride The Lightning', 50)
(155, 'St. Anger', 50)
(156, '...And Justice For All', 50)
(157, 'Miles Ahead', 68)
(158, 'Milton Nascimento Ao Vivo', 42)
(159, 'Minas', 42)
(160, 'Ace Of Spades', 106)
(161, 'Demorou...', 108)
(162, 'Motley Crue Greatest Hits', 109)
(163, 'From The Muddy Banks Of The Wishkah [Live]', 110)
(164, 'Nevermind', 110)
(165, 'Compositores', 111)
(166, 'Olodum', 112)
(167, 'Acústico MTV', 113)
(168, 'Arquivo II', 113)
(169, 'Arquivo Os Paralamas Do Sucesso', 113)
(170, 'Bark at the Moon (Remastered)', 114)
(171, 'Blizzard of Ozz', 114)
(172, 'Diary of a Madman (Remastered)', 114)
(173, 'No More Tears (Remastered)', 114)
(174, 'Tribute', 114)
(175, 'Walking Into Clarksdale', 115)
(176, 'Original Soundtracks 1', 116)
(177, 'The Beast Live', 117)
(178, 'Live On Two Legs [Live]', 118)
(179, 'Pearl Jam', 118)
(180, 'Riot Act', 118)
(181, 'Ten', 118)
(182, 'Vs.', 118)
(183, 'Dark Side Of The Moon', 120)
(184, 'Os Cães Ladram Mas A Caravana Não Pára', 121)
(185, 'Greatest Hits I', 51)
(186, 'News Of The World', 51)
(187, 'Out Of Time', 122)
(188, 'Green', 124)
(189, 'New Adventures In Hi-Fi', 124)
(190, 'The Best Of R.E.M.: The IRS Years', 124)
(191, 'Cesta Básica', 125)
(192, 'Raul Seixas', 126)
(193, 'Blood Sugar Sex Magik', 127)
(194, 'By The Way', 127)
(195, 'Californication', 127)
(196, 'Retrospective I (1974-1980)', 128)
(197, 'Santana - As Years Go By', 59)
(198, 'Santana Live', 59)
(199, 'Maquinarama', 130)
(200, 'O Samba Poconé', 130)
(201, 'Judas 0: B-Sides and Rarities', 131)
(202, 'Rotten Apples: Greatest Hits', 131)
(203, 'A-Sides', 132)
(204, 'Morning Dance', 53)
(205, 'In Step', 133)
(206, 'Core', 134)
(207, 'Mezmerize', 135)
(208, '[1997] Black Light Syndrome', 136)
(209, 'Live [Disc 1]', 137)
(210, 'Live [Disc 2]', 137)
(211, 'The Singles', 138)
(212, 'Beyond Good And Evil', 139)
(213, 'Pure Cult: The Best Of The Cult (For Rockers, Ravers, Lovers & Sinners) [UK]', 139)
(214, 'The Doors', 140)
(215, 'The Police Greatest Hits', 141)
(216, 'Hot Rocks, 1964-1971 (Disc 1)', 142)
(217, 'No Security', 142)
(218, 'Voodoo Lounge', 142)
(219, 'Tangents', 143)
(220, 'Transmission', 143)
(221, 'My Generation - The Very Best Of The Who', 144)
(222, 'Serie Sem Limite (Disc 1)', 145)
(223, 'Serie Sem Limite (Disc 2)', 145)
(224, 'Acústico', 146)
(225, 'Volume Dois', 146)
(226, 'Battlestar Galactica: The Story So Far', 147)
(227, 'Battlestar Galactica, Season 3', 147)
(228, 'Heroes, Season 1', 148)
(229, 'Lost, Season 3', 149)
(230, 'Lost, Season 1', 149)
(231, 'Lost, Season 2', 149)
(232, 'Achtung Baby', 150)
(233, "All That You Can't Leave Behind", 150)
(234, 'B-Sides 1980-1990', 150)
(235, 'How To Dismantle An Atomic Bomb', 150)
(236, 'Pop', 150)
(237, 'Rattle And Hum', 150)
(238, 'The Best Of 1980-1990', 150)
(239, 'War', 150)
(240, 'Zooropa', 150)
(241, 'UB40 The Best Of - Volume Two [UK]', 151)
(242, 'Diver Down', 152)
(243, 'The Best Of Van Halen, Vol. I', 152)
(244, 'Van Halen', 152)
(245, 'Van Halen III', 152)
(246, 'Contraband', 153)
(247, 'Vinicius De Moraes', 72)
(248, 'Ao Vivo [IMPORT]', 155)
(249, 'The Office, Season 1', 156)
(250, 'The Office, Season 2', 156)
(251, 'The Office, Season 3', 156)
(252, 'Un-Led-Ed', 157)
(253, 'Battlestar Galactica (Classic), Season 1', 158)
(254, 'Aquaman', 159)
(255, 'Instant Karma: The Amnesty International Campaign to Save Darfur', 150)
(256, 'Speak of the Devil', 114)
(257, '20th Century Masters - The Millennium Collection: The Best of Scorpions', 179)
(258, 'House of Pain', 180)
(259, 'Radio Brasil (O Som da Jovem Vanguarda) - Seleccao de Henrique Amaro', 36)
(260, 'Cake: B-Sides and Rarities', 196)
(261, 'LOST, Season 4', 149)
(262, 'Quiet Songs', 197)
(263, 'Muso Ko', 198)
(264, 'Realize', 199)
(265, 'Every Kind of Light', 200)
(266, 'Duos II', 201)
(267, 'Worlds', 202)
(268, 'The Best of Beethoven', 203)
(269, 'Temple of the Dog', 204)
(270, 'Carry On', 205)
(271, 'Revelations', 8)
(272, 'Adorate Deum: Gregorian Chant from the Proper of the Mass', 206)
(273, 'Allegri: Miserere', 207)
(274, 'Pachelbel: Canon & Gigue', 208)
(275, 'Vivaldi: The Four Seasons', 209)
(276, 'Bach: Violin Concertos', 210)
(277, 'Bach: Goldberg Variations', 211)
(278, 'Bach: The Cello Suites', 212)
(279, 'Handel: The Messiah (Highlights)', 213)
(280, 'The World of Classical Favourites', 214)
(281, 'Sir Neville Marriner: A Celebration', 215)
(282, 'Mozart: Wind Concertos', 216)
(283, 'Haydn: Symphonies 99 - 104', 217)
(284, 'Beethoven: Symhonies Nos. 5 & 6', 218)
(285, 'A Soprano Inspired', 219)
(286, 'Great Opera Choruses', 220)
(287, 'Wagner: Favourite Overtures', 221)
(288, 'Fauré: Requiem, Ravel: Pavane & Others', 222)
(289, 'Tchaikovsky: The Nutcracker', 223)
(290, 'The Last Night of the Proms', 224)
(291, 'Puccini: Madama Butterfly - Highlights', 225)
(292, 'Holst: The Planets, Op. 32 & Vaughan Williams: Fantasies', 226)
(293, "Pavarotti's Opera Made Easy", 227)
(294, "Great Performances - Barber's Adagio and Other Romantic Favorites for Strings", 228)
(295, 'Carmina Burana', 229)
(296, 'A Copland Celebration, Vol. I', 230)
(297, 'Bach: Toccata & Fugue in D Minor', 231)
(298, 'Prokofiev: Symphony No.1', 232)
(299, 'Scheherazade', 233)
(300, 'Bach: The Brandenburg Concertos', 234)
(301, 'Chopin: Piano Concertos Nos. 1 & 2', 235)
(302, 'Mascagni: Cavalleria Rusticana', 236)
(303, 'Sibelius: Finlandia', 237)
(304, 'Beethoven Piano Sonatas: Moonlight & Pastorale', 238)
(305, 'Great Recordings of the Century - Mahler: Das Lied von der Erde', 240)
(306, 'Elgar: Cello Concerto & Vaughan Williams: Fantasias', 241)
(307, 'Adams, John: The Chairman Dances', 242)
(308, "Tchaikovsky: 1812 Festival Overture, Op.49, Capriccio Italien & Beethoven: Wellington's Victory", 243)
(309, 'Palestrina: Missa Papae Marcelli & Allegri: Miserere', 244)
(310, 'Prokofiev: Romeo & Juliet', 245)
(311, 'Strauss: Waltzes', 226)
(312, 'Berlioz: Symphonie Fantastique', 245)
(313, 'Bizet: Carmen Highlights', 246)
(314, 'English Renaissance', 247)
(315, 'Handel: Music for the Royal Fireworks (Original Version 1749)', 208)
(316, 'Grieg: Peer Gynt Suites & Sibelius: Pelléas et Mélisande', 248)
(317, 'Mozart Gala: Famous Arias', 249)
(318, 'SCRIABIN: Vers la flamme', 250)
(319, 'Armada: Music from the Courts of England and Spain', 251)
(320, 'Mozart: Symphonies Nos. 40 & 41', 248)
(321, 'Back to Black', 252)
(322, 'Frank', 252)
(323, 'Carried to Dust (Bonus Track Version)', 253)
(324, "Beethoven: Symphony No. 6 'Pastoral' Etc.", 254)
(325, 'Bartok: Violin & Viola Concertos', 255)
(326, "Mendelssohn: A Midsummer Night's Dream", 256)
(327, 'Bach: Orchestral Suites Nos. 1 - 4', 257)
(328, 'Charpentier: Divertissements, Airs & Concerts', 258)
(329, 'South American Getaway', 259)
(330, 'Górecki: Symphony No. 3', 260)
(331, 'Purcell: The Fairy Queen', 261)
(332, 'The Ultimate Relexation Album', 262)
(333, 'Purcell: Music for the Queen Mary', 263)
(334, 'Weill: The Seven Deadly Sins', 264)
(335, 'J.S. Bach: Chaconne, Suite in E Minor, Partita in E Major & Prelude, Fugue and Allegro', 265)
(336, 'Prokofiev: Symphony No.5 & Stravinksy: Le Sacre Du Printemps', 248)
(337, 'Szymanowski: Piano Works, Vol. 1', 266)
(338, 'Nielsen: The Six Symphonies', 267)
(339, "Great Recordings of the Century: Paganini's 24 Caprices", 268)
(340, "Liszt - 12 Études D'Execution Transcendante", 269)
(341, 'Great Recordings of the Century - Shubert: Schwanengesang, 4 Lieder', 270)
(342, 'Locatelli: Concertos for Violin, Strings and Continuo, Vol. 3', 271)
(343, 'Respighi:Pines of Rome', 226)
(344, "Schubert: The Late String Quartets & String Quintet (3 CD's)", 272)
(345, "Monteverdi: L'Orfeo", 273)
(346, 'Mozart: Chamber Music', 274)
(347, 'Koyaanisqatsi (Soundtrack from the Motion Picture)', 275)

And here we retrieve all the data at once:

In [3]:
c.execute("SELECT * FROM albums")
c.fetchall()

[(1, 'For Those About To Rock We Salute You', 1),
 (2, 'Balls to the Wall', 2),
 (3, 'Restless and Wild', 2),
 (4, 'Let There Be Rock', 1),
 (5, 'Big Ones', 3),
 (6, 'Jagged Little Pill', 4),
 (7, 'Facelift', 5),
 (8, 'Warner 25 Anos', 6),
 (9, 'Plays Metallica By Four Cellos', 7),
 (10, 'Audioslave', 8),
 (11, 'Out Of Exile', 8),
 (12, 'BackBeat Soundtrack', 9),
 (13, 'The Best Of Billy Cobham', 10),
 (14, 'Alcohol Fueled Brewtality Live! [Disc 1]', 11),
 (15, 'Alcohol Fueled Brewtality Live! [Disc 2]', 11),
 (16, 'Black Sabbath', 12),
 (17, 'Black Sabbath Vol. 4 (Remaster)', 12),
 (18, 'Body Count', 13),
 (19, 'Chemical Wedding', 14),
 (20, 'The Best Of Buddy Guy - The Millenium Collection', 15),
 (21, 'Prenda Minha', 16),
 (22, 'Sozinho Remix Ao Vivo', 16),
 (23, 'Minha Historia', 17),
 (24, 'Afrociberdelia', 18),
 (25, 'Da Lama Ao Caos', 18),
 (26, 'Acústico MTV [Live]', 19),
 (27, 'Cidade Negra - Hits', 19),
 (28, 'Na Pista', 20),
 (29, 'Axé Bahia 2001', 21),
 (30, 'BBC Sessions [Disc 1] [Live]', 22),
 (31, 'Bongo Fury', 23),
 (32, 'Carnaval 2001', 21),
 (33, 'Chill: Brazil (Disc 1)', 24),
 (34, 'Chill: Brazil (Disc 2)', 6),
 (35, 'Garage Inc. (Disc 1)', 50),
 (36, 'Greatest Hits II', 51),
 (37, 'Greatest Kiss', 52),
 (38, 'Heart of the Night', 53),
 (39, 'International Superhits', 54),
 (40, 'Into The Light', 55),
 (41, 'Meus Momentos', 56),
 (42, 'Minha História', 57),
 (43, 'MK III The Final Concerts [Disc 1]', 58),
 (44, 'Physical Graffiti [Disc 1]', 22),
 (45, 'Sambas De Enredo 2001', 21),
 (46, 'Supernatural', 59),
 (47, 'The Best of Ed Motta', 37),
 (48, 'The Essential Miles Davis [Disc 1]', 68),
 (49, 'The Essential Miles Davis [Disc 2]', 68),
 (50, 'The Final Concerts (Disc 2)', 58),
 (51, "Up An' Atom", 69),
 (52, 'Vinícius De Moraes - Sem Limite', 70),
 (53, 'Vozes do MPB', 21),
 (54, 'Chronicle, Vol. 1', 76),
 (55, 'Chronicle, Vol. 2', 76),
 (56, 'Cássia Eller - Coleção Sem Limite [Disc 2]', 77),
 (57, 'Cássia Eller - Sem Limite [Disc 1]', 77),
 (58, 'Come Taste The Band', 58),
 (59, 'Deep Purple In Rock', 58),
 (60, 'Fireball', 58),
 (61, "Knocking at Your Back Door: The Best Of Deep Purple in the 80's", 58),
 (62, 'Machine Head', 58),
 (63, 'Purpendicular', 58),
 (64, 'Slaves And Masters', 58),
 (65, 'Stormbringer', 58),
 (66, 'The Battle Rages On', 58),
 (67, "Vault: Def Leppard's Greatest Hits", 78),
 (68, 'Outbreak', 79),
 (69, 'Djavan Ao Vivo - Vol. 02', 80),
 (70, 'Djavan Ao Vivo - Vol. 1', 80),
 (71, 'Elis Regina-Minha História', 41),
 (72, 'The Cream Of Clapton', 81),
 (73, 'Unplugged', 81),
 (74, 'Album Of The Year', 82),
 (75, 'Angel Dust', 82),
 (76, 'King For A Day Fool For A Lifetime', 82),
 (77, 'The Real Thing', 82),
 (78, 'Deixa Entrar', 83),
 (79, 'In Your Honor [Disc 1]', 84),
 (80, 'In Your Honor [Disc 2]', 84),
 (81, 'One By One', 84),
 (82, 'The Colour And The Shape', 84),
 (83, 'My Way: The Best Of Frank Sinatra [Disc 1]', 85),
 (84, 'Roda De Funk', 86),
 (85, 'As Canções de Eu Tu Eles', 27),
 (86, 'Quanta Gente Veio Ver (Live)', 27),
 (87, 'Quanta Gente Veio ver--Bônus De Carnaval', 27),
 (88, 'Faceless', 87),
 (89, 'American Idiot', 54),
 (90, 'Appetite for Destruction', 88),
 (91, 'Use Your Illusion I', 88),
 (92, 'Use Your Illusion II', 88),
 (93, 'Blue Moods', 89),
 (94, 'A Matter of Life and Death', 90),
 (95, 'A Real Dead One', 90),
 (96, 'A Real Live One', 90),
 (97, 'Brave New World', 90),
 (98, 'Dance Of Death', 90),
 (99, 'Fear Of The Dark', 90),
 (100, 'Iron Maiden', 90),
 (101, 'Killers', 90),
 (102, 'Live After Death', 90),
 (103, 'Live At Donington 1992 (Disc 1)', 90),
 (104, 'Live At Donington 1992 (Disc 2)', 90),
 (105, 'No Prayer For The Dying', 90),
 (106, 'Piece Of Mind', 90),
 (107, 'Powerslave', 90),
 (108, 'Rock In Rio [CD1]', 90),
 (109, 'Rock In Rio [CD2]', 90),
 (110, 'Seventh Son of a Seventh Son', 90),
 (111, 'Somewhere in Time', 90),
 (112, 'The Number of The Beast', 90),
 (113, 'The X Factor', 90),
 (114, 'Virtual XI', 90),
 (115, 'Sex Machine', 91),
 (116, 'Emergency On Planet Earth', 92),
 (117, 'Synkronized', 92),
 (118, 'The Return Of The Space Cowboy', 92),
 (119, 'Get Born', 93),
 (120, 'Are You Experienced?', 94),
 (121, 'Surfing with the Alien (Remastered)', 95),
 (122, 'Jorge Ben Jor 25 Anos', 46),
 (123, 'Jota Quest-1995', 96),
 (124, 'Cafezinho', 97),
 (125, 'Living After Midnight', 98),
 (126, 'Unplugged [Live]', 52),
 (127, 'BBC Sessions [Disc 2] [Live]', 22),
 (128, 'Coda', 22),
 (129, 'Houses Of The Holy', 22),
 (130, 'In Through The Out Door', 22),
 (131, 'IV', 22),
 (132, 'Led Zeppelin I', 22),
 (133, 'Led Zeppelin II', 22),
 (134, 'Led Zeppelin III', 22),
 (135, 'Physical Graffiti [Disc 2]', 22),
 (136, 'Presence', 22),
 (137, 'The Song Remains The Same (Disc 1)', 22),
 (138, 'The Song Remains The Same (Disc 2)', 22),
 (139, 'A TempestadeTempestade Ou O Livro Dos Dias', 99),
 (140, 'Mais Do Mesmo', 99),
 (141, 'Greatest Hits', 100),
 (142, 'Lulu Santos - RCA 100 Anos De Música - Álbum 01', 101),
 (143, 'Lulu Santos - RCA 100 Anos De Música - Álbum 02', 101),
 (144, 'Misplaced Childhood', 102),
 (145, 'Barulhinho Bom', 103),
 (146, 'Seek And Shall Find: More Of The Best (1963-1981)', 104),
 (147, 'The Best Of Men At Work', 105),
 (148, 'Black Album', 50),
 (149, 'Garage Inc. (Disc 2)', 50),
 (150, "Kill 'Em All", 50),
 (151, 'Load', 50),
 (152, 'Master Of Puppets', 50),
 (153, 'ReLoad', 50),
 (154, 'Ride The Lightning', 50),
 (155, 'St. Anger', 50),
 (156, '...And Justice For All', 50),
 (157, 'Miles Ahead', 68),
 (158, 'Milton Nascimento Ao Vivo', 42),
 (159, 'Minas', 42),
 (160, 'Ace Of Spades', 106),
 (161, 'Demorou...', 108),
 (162, 'Motley Crue Greatest Hits', 109),
 (163, 'From The Muddy Banks Of The Wishkah [Live]', 110),
 (164, 'Nevermind', 110),
 (165, 'Compositores', 111),
 (166, 'Olodum', 112),
 (167, 'Acústico MTV', 113),
 (168, 'Arquivo II', 113),
 (169, 'Arquivo Os Paralamas Do Sucesso', 113),
 (170, 'Bark at the Moon (Remastered)', 114),
 (171, 'Blizzard of Ozz', 114),
 (172, 'Diary of a Madman (Remastered)', 114),
 (173, 'No More Tears (Remastered)', 114),
 (174, 'Tribute', 114),
 (175, 'Walking Into Clarksdale', 115),
 (176, 'Original Soundtracks 1', 116),
 (177, 'The Beast Live', 117),
 (178, 'Live On Two Legs [Live]', 118),
 (179, 'Pearl Jam', 118),
 (180, 'Riot Act', 118),
 (181, 'Ten', 118),
 (182, 'Vs.', 118),
 (183, 'Dark Side Of The Moon', 120),
 (184, 'Os Cães Ladram Mas A Caravana Não Pára', 121),
 (185, 'Greatest Hits I', 51),
 (186, 'News Of The World', 51),
 (187, 'Out Of Time', 122),
 (188, 'Green', 124),
 (189, 'New Adventures In Hi-Fi', 124),
 (190, 'The Best Of R.E.M.: The IRS Years', 124),
 (191, 'Cesta Básica', 125),
 (192, 'Raul Seixas', 126),
 (193, 'Blood Sugar Sex Magik', 127),
 (194, 'By The Way', 127),
 (195, 'Californication', 127),
 (196, 'Retrospective I (1974-1980)', 128),
 (197, 'Santana - As Years Go By', 59),
 (198, 'Santana Live', 59),
 (199, 'Maquinarama', 130),
 (200, 'O Samba Poconé', 130),
 (201, 'Judas 0: B-Sides and Rarities', 131),
 (202, 'Rotten Apples: Greatest Hits', 131),
 (203, 'A-Sides', 132),
 (204, 'Morning Dance', 53),
 (205, 'In Step', 133),
 (206, 'Core', 134),
 (207, 'Mezmerize', 135),
 (208, '[1997] Black Light Syndrome', 136),
 (209, 'Live [Disc 1]', 137),
 (210, 'Live [Disc 2]', 137),
 (211, 'The Singles', 138),
 (212, 'Beyond Good And Evil', 139),
 (213,
  'Pure Cult: The Best Of The Cult (For Rockers, Ravers, Lovers & Sinners) [UK]',
  139),
 (214, 'The Doors', 140),
 (215, 'The Police Greatest Hits', 141),
 (216, 'Hot Rocks, 1964-1971 (Disc 1)', 142),
 (217, 'No Security', 142),
 (218, 'Voodoo Lounge', 142),
 (219, 'Tangents', 143),
 (220, 'Transmission', 143),
 (221, 'My Generation - The Very Best Of The Who', 144),
 (222, 'Serie Sem Limite (Disc 1)', 145),
 (223, 'Serie Sem Limite (Disc 2)', 145),
 (224, 'Acústico', 146),
 (225, 'Volume Dois', 146),
 (226, 'Battlestar Galactica: The Story So Far', 147),
 (227, 'Battlestar Galactica, Season 3', 147),
 (228, 'Heroes, Season 1', 148),
 (229, 'Lost, Season 3', 149),
 (230, 'Lost, Season 1', 149),
 (231, 'Lost, Season 2', 149),
 (232, 'Achtung Baby', 150),
 (233, "All That You Can't Leave Behind", 150),
 (234, 'B-Sides 1980-1990', 150),
 (235, 'How To Dismantle An Atomic Bomb', 150),
 (236, 'Pop', 150),
 (237, 'Rattle And Hum', 150),
 (238, 'The Best Of 1980-1990', 150),
 (239, 'War', 150),
 (240, 'Zooropa', 150),
 (241, 'UB40 The Best Of - Volume Two [UK]', 151),
 (242, 'Diver Down', 152),
 (243, 'The Best Of Van Halen, Vol. I', 152),
 (244, 'Van Halen', 152),
 (245, 'Van Halen III', 152),
 (246, 'Contraband', 153),
 (247, 'Vinicius De Moraes', 72),
 (248, 'Ao Vivo [IMPORT]', 155),
 (249, 'The Office, Season 1', 156),
 (250, 'The Office, Season 2', 156),
 (251, 'The Office, Season 3', 156),
 (252, 'Un-Led-Ed', 157),
 (253, 'Battlestar Galactica (Classic), Season 1', 158),
 (254, 'Aquaman', 159),
 (255,
  'Instant Karma: The Amnesty International Campaign to Save Darfur',
  150),
 (256, 'Speak of the Devil', 114),
 (257,
  '20th Century Masters - The Millennium Collection: The Best of Scorpions',
  179),
 (258, 'House of Pain', 180),
 (259,
  'Radio Brasil (O Som da Jovem Vanguarda) - Seleccao de Henrique Amaro',
  36),
 (260, 'Cake: B-Sides and Rarities', 196),
 (261, 'LOST, Season 4', 149),
 (262, 'Quiet Songs', 197),
 (263, 'Muso Ko', 198),
 (264, 'Realize', 199),
 (265, 'Every Kind of Light', 200),
 (266, 'Duos II', 201),
 (267, 'Worlds', 202),
 (268, 'The Best of Beethoven', 203),
 (269, 'Temple of the Dog', 204),
 (270, 'Carry On', 205),
 (271, 'Revelations', 8),
 (272, 'Adorate Deum: Gregorian Chant from the Proper of the Mass', 206),
 (273, 'Allegri: Miserere', 207),
 (274, 'Pachelbel: Canon & Gigue', 208),
 (275, 'Vivaldi: The Four Seasons', 209),
 (276, 'Bach: Violin Concertos', 210),
 (277, 'Bach: Goldberg Variations', 211),
 (278, 'Bach: The Cello Suites', 212),
 (279, 'Handel: The Messiah (Highlights)', 213),
 (280, 'The World of Classical Favourites', 214),
 (281, 'Sir Neville Marriner: A Celebration', 215),
 (282, 'Mozart: Wind Concertos', 216),
 (283, 'Haydn: Symphonies 99 - 104', 217),
 (284, 'Beethoven: Symhonies Nos. 5 & 6', 218),
 (285, 'A Soprano Inspired', 219),
 (286, 'Great Opera Choruses', 220),
 (287, 'Wagner: Favourite Overtures', 221),
 (288, 'Fauré: Requiem, Ravel: Pavane & Others', 222),
 (289, 'Tchaikovsky: The Nutcracker', 223),
 (290, 'The Last Night of the Proms', 224),
 (291, 'Puccini: Madama Butterfly - Highlights', 225),
 (292, 'Holst: The Planets, Op. 32 & Vaughan Williams: Fantasies', 226),
 (293, "Pavarotti's Opera Made Easy", 227),
 (294,
  "Great Performances - Barber's Adagio and Other Romantic Favorites for Strings",
  228),
 (295, 'Carmina Burana', 229),
 (296, 'A Copland Celebration, Vol. I', 230),
 (297, 'Bach: Toccata & Fugue in D Minor', 231),
 (298, 'Prokofiev: Symphony No.1', 232),
 (299, 'Scheherazade', 233),
 (300, 'Bach: The Brandenburg Concertos', 234),
 (301, 'Chopin: Piano Concertos Nos. 1 & 2', 235),
 (302, 'Mascagni: Cavalleria Rusticana', 236),
 (303, 'Sibelius: Finlandia', 237),
 (304, 'Beethoven Piano Sonatas: Moonlight & Pastorale', 238),
 (305, 'Great Recordings of the Century - Mahler: Das Lied von der Erde', 240),
 (306, 'Elgar: Cello Concerto & Vaughan Williams: Fantasias', 241),
 (307, 'Adams, John: The Chairman Dances', 242),
 (308,
  "Tchaikovsky: 1812 Festival Overture, Op.49, Capriccio Italien & Beethoven: Wellington's Victory",
  243),
 (309, 'Palestrina: Missa Papae Marcelli & Allegri: Miserere', 244),
 (310, 'Prokofiev: Romeo & Juliet', 245),
 (311, 'Strauss: Waltzes', 226),
 (312, 'Berlioz: Symphonie Fantastique', 245),
 (313, 'Bizet: Carmen Highlights', 246),
 (314, 'English Renaissance', 247),
 (315, 'Handel: Music for the Royal Fireworks (Original Version 1749)', 208),
 (316, 'Grieg: Peer Gynt Suites & Sibelius: Pelléas et Mélisande', 248),
 (317, 'Mozart Gala: Famous Arias', 249),
 (318, 'SCRIABIN: Vers la flamme', 250),
 (319, 'Armada: Music from the Courts of England and Spain', 251),
 (320, 'Mozart: Symphonies Nos. 40 & 41', 248),
 (321, 'Back to Black', 252),
 (322, 'Frank', 252),
 (323, 'Carried to Dust (Bonus Track Version)', 253),
 (324, "Beethoven: Symphony No. 6 'Pastoral' Etc.", 254),
 (325, 'Bartok: Violin & Viola Concertos', 255),
 (326, "Mendelssohn: A Midsummer Night's Dream", 256),
 (327, 'Bach: Orchestral Suites Nos. 1 - 4', 257),
 (328, 'Charpentier: Divertissements, Airs & Concerts', 258),
 (329, 'South American Getaway', 259),
 (330, 'Górecki: Symphony No. 3', 260),
 (331, 'Purcell: The Fairy Queen', 261),
 (332, 'The Ultimate Relexation Album', 262),
 (333, 'Purcell: Music for the Queen Mary', 263),
 (334, 'Weill: The Seven Deadly Sins', 264),
 (335,
  'J.S. Bach: Chaconne, Suite in E Minor, Partita in E Major & Prelude, Fugue and Allegro',
  265),
 (336, 'Prokofiev: Symphony No.5 & Stravinksy: Le Sacre Du Printemps', 248),
 (337, 'Szymanowski: Piano Works, Vol. 1', 266),
 (338, 'Nielsen: The Six Symphonies', 267),
 (339, "Great Recordings of the Century: Paganini's 24 Caprices", 268),
 (340, "Liszt - 12 Études D'Execution Transcendante", 269),
 (341,
  'Great Recordings of the Century - Shubert: Schwanengesang, 4 Lieder',
  270),
 (342, 'Locatelli: Concertos for Violin, Strings and Continuo, Vol. 3', 271),
 (343, 'Respighi:Pines of Rome', 226),
 (344, "Schubert: The Late String Quartets & String Quintet (3 CD's)", 272),
 (345, "Monteverdi: L'Orfeo", 273),
 (346, 'Mozart: Chamber Music', 274),
 (347, 'Koyaanisqatsi (Soundtrack from the Motion Picture)', 275)]

## SQL and Pandas

An alternative approach that fits well into our previous workflows is to use pandas to store the table directly, using the [`read_sql()`](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_sql.html) function:

In [4]:
# this is similar to the read_csv()function
pd.read_sql("""SELECT * FROM albums""", conn).head()

   AlbumId                                  Title  ArtistId
0        1  For Those About To Rock We Salute You         1
1        2                      Balls to the Wall         2
2        3                      Restless and Wild         2
3        4                      Let There Be Rock         1
4        5                               Big Ones         3

This, of course, works only for reading data, but we'll use it for now.

## Selective Results

When we **specify individual columns** instead of using the `*`, we get only those columns:

In [5]:
pd.read_sql("""SELECT Title FROM albums""", conn).head()

                                   Title
0  For Those About To Rock We Salute You
1                      Balls to the Wall
2                      Restless and Wild
3                      Let There Be Rock
4                               Big Ones

Here, we've used head to display a short list, but we can also do that in the SQL query with the `LIMIT` keyword. Of course, in this case, the data will actually be limited:

In [6]:
pd.read_sql("""SELECT Title FROM albums LIMIT 3""", conn).head()

                                   Title
0  For Those About To Rock We Salute You
1                      Balls to the Wall
2                      Restless and Wild

We can run more **restrictive queries** with the `WHERE` keyword:

In [7]:
# note that the triple quotes allow us to break lines
pd.read_sql("""SELECT * FROM albums 
                    WHERE Title = 'Big Ones'""", conn)

   AlbumId     Title  ArtistId
0        5  Big Ones         3

Legal operations are: 

 * `=` is.
 * `<>` is not
 * Numerical comparisons: `>, >=, <, <=`
 * `IN` allows you to pass a list of options.
 * `BETWEEN` allows you to define a range.
 * `LIKE` can be used with pattern matching, similar to regular expressions. 
 * `IS NULL` or `IS NOT NULL` test for empty values.

The `is not` operator:

In [8]:
pd.read_sql("""SELECT * FROM albums 
                    WHERE Title <> 'Big Ones'""", conn).head(10)

   AlbumId                                  Title  ArtistId
0        1  For Those About To Rock We Salute You         1
1        2                      Balls to the Wall         2
2        3                      Restless and Wild         2
3        4                      Let There Be Rock         1
4        6                     Jagged Little Pill         4
5        7                               Facelift         5
6        8                         Warner 25 Anos         6
7        9         Plays Metallica By Four Cellos         7
8       10                             Audioslave         8
9       11                           Out Of Exile         8

In [9]:
pd.read_sql("""Select * FROM invoices WHERE Total > 10""", conn)

,InvoiceId,CustomerId,InvoiceDate,BillingAddress,BillingCity,BillingState,BillingCountry,BillingPostalCode,Total
0,5,23,2009-01-11 00:00:00,69 Salem Street,Boston,MA,USA,2113,13.86
1,12,2,2009-02-11 00:00:00,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,13.86
2,19,40,2009-03-14 00:00:00,"8, Rue Hanovre",Paris,None,France,75002,13.86
3,26,19,2009-04-14 00:00:00,1 Infinite Loop,Cupertino,CA,USA,95014,13.86
4,33,57,2009-05-15 00:00:00,"Calle Lira, 198",Santiago,None,Chile,None,13.86
5,40,36,2009-06-15 00:00:00,Tauentzienstraße 8,Berlin,None,Germany,10789,13.86
6,47,15,2009-07-16 00:00:00,700 W Pender Street,Vancouver,BC,Canada,V6C 1G8,13.86
7,54,53,2009-08-16 00:00:00,113 Lupus St,London,None,United Kingdom,SW1V 3EN,13.86
8,61,32,2009-09-16 00:00:00,696 Osborne Street,Winnipeg,MB,Canada,R3L 2B9,13.86
9,68,11,2009-10-17 00:00:00,"Av. Paulista, 2022",São Paulo,SP,Brazil,01310-200,13.86
10,75,49,2009-11-17 00:00:00,Ordynacka 10,Warsaw,None,Poland,00-358,13.86
11,82,28,2009-12-18 00:00:00,302 S 700 E,Salt Lake City,UT,USA,84102,13.86
12,88,57,2010-01-13 00:00:00,"Calle Lira, 198",Santiago,None,Chile,None,17.91
13,89,7,2010-01-18 00:00:00,"Rotenturmstraße 4, 1010 Innere Stadt",Vienne,None,Austria,1010,18.86
14,96,45,2010-02-18 00:00:00,Erzsébet krt. 58.,Budapest,None,Hungary,H-1073,21.86
15,103,24,2010-03-21 00:00:00,162 E Superior Street,Chicago,IL,USA,60611,15.86
16,110,3,2010-04-21 00:00:00,1498 rue Bélanger,Montréal,QC,Canada,H2G 1A7,13.86
17,117,41,2010-05-22 00:00:00,"11, Place Bellecour",Lyon,None,France,69002,13.86
18,124,20,2010-06-22 00:00:00,541 Del Medio Avenue,Mountain View,CA,USA,94040-111,13.86
19,131,58,2010-07-23 00:00:00,"12,Community Centre",Delhi,None,India,110017,13.86
20,138,37,2010-08-23 00:00:00,Berger Straße 10,Frankfurt,None,Germany,60316,13.86
21,145,16,2010-09-23 00:00:00,1600 Amphitheatre Parkway,Mountain View,CA,USA,94043-1351,13.86
22,152,54,2010-10-24 00:00:00,110 Raeburn Pl,Edinburgh,None,United Kingdom,EH4 1HH,13.86
23,159,33,2010-11-24 00:00:00,5112 48 Street,Yellowknife,NT,Canada,X1A 1N6,13.86
24,166,12,2010-12-25 00:00:00,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,13.86
25,173,50,2011-01-25 00:00:00,C/ San Bernardo 85,Madrid,None,Spain,28015,13.86
26,180,29,2011-02-25 00:00:00,796 Dundas Street West,Toronto,ON,Canada,M6J 1V1,13.86
27,187,8,2011-03-28 00:00:00,Grétrystraat 63,Brussels,None,Belgium,1000,13.86
28,193,37,2011-04-23 00:00:00,Berger Straße 10,Frankfurt,None,Germany,60316,14.91
29,194,46,2011-04-28 00:00:00,3 Chatham Street,Dublin,Dublin,Ireland,None,21.86
...,...,...,...,...,...,...,...,...,...
34,229,59,2011-09-30 00:00:00,"3,Raj Bhavan Road",Bangalore,None,India,560001,13.86
35,236,38,2011-10-31 00:00:00,Barbarossastraße 19,Berlin,None,Germany,10779,13.86
36,243,17,2011-12-01 00:00:00,1 Microsoft Way,Redmond,WA,USA,98052-8300,13.86
37,250,55,2012-01-01 00:00:00,421 Bourke Street,Sidney,NSW,Australia,2010,13.86
38,257,34,2012-02-01 00:00:00,Rua da Assunção 53,Lisbon,None,Portugal,None,13.86
39,264,13,2012-03-03 00:00:00,Qe 7 Bloco G,Brasília,DF,Brazil,71020-677,13.86
40,271,51,2012-04-03 00:00:00,Celsiusg. 9,Stockholm,None,Sweden,11230,13.86
41,278,30,2012-05-04 00:00:00,230 Elgin Street,Ottawa,ON,Canada,K2P 1L7,13.86
42,285,9,2012-06-04 00:00:00,Sønder Boulevard 51,Copenhagen,None,Denmark,1720,13.86
43,292,47,2012-07-05 00:00:00,"Via Degli Scipioni, 43",Rome,RM,Italy,00192,13.86
44,298,17,2012-07-31 00:00:00,1 Microsoft Way,Redmond,WA,USA,98052-8300,10.91
45,299,26,2012-08-05 00:00:00,2211 W Berry Street,Fort Worth,TX,USA,76110,23.86
46,306,5,2012-09-05 00:00:00,Klanova 9/506,Prague,None,Czech Republic,14700,16.86
47,311,28,2012-09-28 00:00:00,302 S 700 E,Salt Lake City,UT,USA,84102,11.94
48,312,34,2012-10-01 00:00:00,Rua da Assunção 53,Lisbon,None,Portugal,None,10.91
49,313,43,2012-10-06 00:00:00,"68, Rue Jouvence",Dijon,None,France,21000,16.86
50,320,22,2012-11-06 00:00:00,120 S Orange Ave,Orlando,FL,USA,32801,13.86
51,327,1,2012-12-07 00:00:00,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,13.86
52,334,39,2013-01-07 00:00:00,"4, Rue Milton",Paris,None,France,75009,13.86
53,341,18,2013-02-07 00:00:00,627 Broadway,New York,NY,USA,10012-2612,13.86
54,348,56,2013-03-10 00:00:00,307 Macacha Güemes,Buenos Aires,None,Argentina,1106,13.86
55,355,35,2013-04-10 00:00:00,"Rua dos Campeões Europeus de Viena, 4350",Porto,None,Portugal,None,13.86
56,362,14,2013-05-11 00:00:00,8210 111 ST NW,Edmonton,AB,Canada,T6G 2C7,13.86
57,369,52,2013-06-11 00:00:00,202 Hoxton Street,London,None,United Kingdom,N1 5LH,13.86
58,376,31,2013-07-12 00:00:00,194A Chain Lake Drive,Halifax,NS,Canada,B3S 1C5,13.86
59,383,10,2013-08-12 00:00:00,"Rua Dr. Falcão Filho, 155",São Paulo,SP,Brazil,01007-010,13.86
60,390,48,2013-09-12 00:00:00,Lijnbaansgracht 120bg,Amsterdam,VV,Netherlands,1016,13.86
61,397,27,2013-10-13 00:00:00,1033 N Park Ave,Tucson,AZ,USA,85719,13.86
62,404,6,2013-11-13 00:00:00,Rilská 3174/6,Prague,None,Czech Republic,14300,25.86
63,411,44,2013-12-14 00:00:00,Porthaninkatu 9,Helsinki,None,Finland,00530,13.86

The `BETWEEN` keyword:

In [10]:
pd.read_sql("""Select * FROM invoices WHERE Total BETWEEN 15 and 20""", conn)

,InvoiceId,CustomerId,InvoiceDate,BillingAddress,BillingCity,BillingState,BillingCountry,BillingPostalCode,Total
0,88,57,2010-01-13 00:00:00,"Calle Lira, 198",Santiago,None,Chile,None,17.91
1,89,7,2010-01-18 00:00:00,"Rotenturmstraße 4, 1010 Innere Stadt",Vienne,None,Austria,1010,18.86
2,103,24,2010-03-21 00:00:00,162 E Superior Street,Chicago,IL,USA,60611,15.86
3,201,25,2011-05-29 00:00:00,319 N. Frances Street,Madison,WI,USA,53703,18.86
4,208,4,2011-06-29 00:00:00,Ullevålsveien 14,Oslo,None,Norway,0171,15.86
5,306,5,2012-09-05 00:00:00,Klanova 9/506,Prague,None,Czech Republic,14700,16.86
6,313,43,2012-10-06 00:00:00,"68, Rue Jouvence",Dijon,None,France,21000,16.86

The `IN` keyword:

In [11]:
pd.read_sql("""Select * FROM invoices WHERE BillingCity in ('Chicago', 'London', 'Berlin')""", conn)

,InvoiceId,CustomerId,InvoiceDate,BillingAddress,BillingCity,BillingState,BillingCountry,BillingPostalCode,Total
0,7,38,2009-02-01 00:00:00,Barbarossastraße 19,Berlin,None,Germany,10779,1.98
1,11,52,2009-02-06 00:00:00,202 Hoxton Street,London,None,United Kingdom,N1 5LH,8.91
2,29,36,2009-05-05 00:00:00,Tauentzienstraße 8,Berlin,None,Germany,10789,1.98
3,30,38,2009-05-06 00:00:00,Barbarossastraße 19,Berlin,None,Germany,10779,3.96
4,40,36,2009-06-15 00:00:00,Tauentzienstraße 8,Berlin,None,Germany,10789,13.86
5,43,53,2009-07-06 00:00:00,113 Lupus St,London,None,United Kingdom,SW1V 3EN,1.98
6,52,38,2009-08-08 00:00:00,Barbarossastraße 19,Berlin,None,Germany,10779,5.94
7,54,53,2009-08-16 00:00:00,113 Lupus St,London,None,United Kingdom,SW1V 3EN,13.86
8,92,24,2010-02-08 00:00:00,162 E Superior Street,Chicago,IL,USA,60611,1.98
9,95,36,2010-02-13 00:00:00,Tauentzienstraße 8,Berlin,None,Germany,10789,8.91
10,103,24,2010-03-21 00:00:00,162 E Superior Street,Chicago,IL,USA,60611,15.86
11,104,38,2010-03-29 00:00:00,Barbarossastraße 19,Berlin,None,Germany,10779,0.99
12,109,53,2010-04-16 00:00:00,113 Lupus St,London,None,United Kingdom,SW1V 3EN,8.91
13,140,52,2010-09-13 00:00:00,202 Hoxton Street,London,None,United Kingdom,N1 5LH,1.98
14,158,24,2010-11-19 00:00:00,162 E Superior Street,Chicago,IL,USA,60611,8.91
15,163,52,2010-12-16 00:00:00,202 Hoxton Street,London,None,United Kingdom,N1 5LH,3.96
16,185,52,2011-03-20 00:00:00,202 Hoxton Street,London,None,United Kingdom,N1 5LH,5.94
17,224,36,2011-09-20 00:00:00,Tauentzienstraße 8,Berlin,None,Germany,10789,1.98
18,225,38,2011-09-20 00:00:00,Barbarossastraße 19,Berlin,None,Germany,10779,1.98
19,236,38,2011-10-31 00:00:00,Barbarossastraße 19,Berlin,None,Germany,10779,13.86
20,237,52,2011-11-08 00:00:00,202 Hoxton Street,London,None,United Kingdom,N1 5LH,0.99
21,238,53,2011-11-21 00:00:00,113 Lupus St,London,None,United Kingdom,SW1V 3EN,1.98
22,247,36,2011-12-23 00:00:00,Tauentzienstraße 8,Berlin,None,Germany,10789,3.96
23,261,53,2012-02-23 00:00:00,113 Lupus St,London,None,United Kingdom,SW1V 3EN,3.96
24,269,36,2012-03-26 00:00:00,Tauentzienstraße 8,Berlin,None,Germany,10789,5.94
25,283,53,2012-05-27 00:00:00,113 Lupus St,London,None,United Kingdom,SW1V 3EN,5.94
26,287,24,2012-06-25 00:00:00,162 E Superior Street,Chicago,IL,USA,60611,1.98
27,291,38,2012-06-30 00:00:00,Barbarossastraße 19,Berlin,None,Germany,10779,8.91
28,310,24,2012-09-27 00:00:00,162 E Superior Street,Chicago,IL,USA,60611,7.96
29,321,36,2012-11-14 00:00:00,Tauentzienstraße 8,Berlin,None,Germany,10789,0.99
30,332,24,2012-12-30 00:00:00,162 E Superior Street,Chicago,IL,USA,60611,5.94
31,335,53,2013-01-15 00:00:00,113 Lupus St,London,None,United Kingdom,SW1V 3EN,0.99
32,358,52,2013-05-01 00:00:00,202 Hoxton Street,London,None,United Kingdom,N1 5LH,1.98
33,369,52,2013-06-11 00:00:00,202 Hoxton Street,London,None,United Kingdom,N1 5LH,13.86
34,384,24,2013-08-20 00:00:00,162 E Superior Street,Chicago,IL,USA,60611,0.99

Expressions with `LIKE`:

In [12]:
# starts with a C
pd.read_sql("""Select * FROM invoices WHERE BillingCity LIKE 'C%'""", conn)

,InvoiceId,CustomerId,InvoiceDate,BillingAddress,BillingCity,BillingState,BillingCountry,BillingPostalCode,Total
0,15,19,2009-03-04 00:00:00,1 Infinite Loop,Cupertino,CA,USA,95014,1.98
1,26,19,2009-04-14 00:00:00,1 Infinite Loop,Cupertino,CA,USA,95014,13.86
2,56,9,2009-09-06 00:00:00,Sønder Boulevard 51,Copenhagen,None,Denmark,1720,1.98
3,79,9,2009-12-09 00:00:00,Sønder Boulevard 51,Copenhagen,None,Denmark,1720,3.96
4,81,19,2009-12-13 00:00:00,1 Infinite Loop,Cupertino,CA,USA,95014,8.91
5,92,24,2010-02-08 00:00:00,162 E Superior Street,Chicago,IL,USA,60611,1.98
6,101,9,2010-03-13 00:00:00,Sønder Boulevard 51,Copenhagen,None,Denmark,1720,5.94
7,103,24,2010-03-21 00:00:00,162 E Superior Street,Chicago,IL,USA,60611,15.86
8,153,9,2010-11-01 00:00:00,Sønder Boulevard 51,Copenhagen,None,Denmark,1720,0.99
9,158,24,2010-11-19 00:00:00,162 E Superior Street,Chicago,IL,USA,60611,8.91
10,210,19,2011-07-20 00:00:00,1 Infinite Loop,Cupertino,CA,USA,95014,1.98
11,233,19,2011-10-22 00:00:00,1 Infinite Loop,Cupertino,CA,USA,95014,3.96
12,255,19,2012-01-24 00:00:00,1 Infinite Loop,Cupertino,CA,USA,95014,5.94
13,274,9,2012-04-24 00:00:00,Sønder Boulevard 51,Copenhagen,None,Denmark,1720,1.98
14,285,9,2012-06-04 00:00:00,Sønder Boulevard 51,Copenhagen,None,Denmark,1720,13.86
15,287,24,2012-06-25 00:00:00,162 E Superior Street,Chicago,IL,USA,60611,1.98
16,307,19,2012-09-13 00:00:00,1 Infinite Loop,Cupertino,CA,USA,95014,1.99
17,310,24,2012-09-27 00:00:00,162 E Superior Street,Chicago,IL,USA,60611,7.96
18,332,24,2012-12-30 00:00:00,162 E Superior Street,Chicago,IL,USA,60611,5.94
19,340,9,2013-02-02 00:00:00,Sønder Boulevard 51,Copenhagen,None,Denmark,1720,8.91
20,384,24,2013-08-20 00:00:00,162 E Superior Street,Chicago,IL,USA,60611,0.99

In [13]:
# ends with rt
pd.read_sql("""Select * FROM invoices WHERE BillingCity LIKE '%rt'""", conn)

,InvoiceId,CustomerId,InvoiceDate,BillingAddress,BillingCity,BillingState,BillingCountry,BillingPostalCode,Total
0,1,2,2009-01-01 00:00:00,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,1.98
1,6,37,2009-01-19 00:00:00,Berger Straße 10,Frankfurt,None,Germany,60316,0.99
2,12,2,2009-02-11 00:00:00,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,13.86
3,67,2,2009-10-12 00:00:00,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,8.91
4,127,37,2010-07-13 00:00:00,Berger Straße 10,Frankfurt,None,Germany,60316,1.98
5,138,37,2010-08-23 00:00:00,Berger Straße 10,Frankfurt,None,Germany,60316,13.86
6,193,37,2011-04-23 00:00:00,Berger Straße 10,Frankfurt,None,Germany,60316,14.91
7,196,2,2011-05-19 00:00:00,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,1.98
8,219,2,2011-08-21 00:00:00,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,3.96
9,241,2,2011-11-23 00:00:00,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,5.94
10,293,2,2012-07-13 00:00:00,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,0.99
11,322,37,2012-11-27 00:00:00,Berger Straße 10,Frankfurt,None,Germany,60316,1.98
12,345,37,2013-03-01 00:00:00,Berger Straße 10,Frankfurt,None,Germany,60316,3.96
13,367,37,2013-06-03 00:00:00,Berger Straße 10,Frankfurt,None,Germany,60316,5.94

We can use `ORDER BY` to sort the output.

In [14]:
pd.read_sql("""SELECT * FROM albums 
                    ORDER BY title""", conn)

     AlbumId                                              Title  ArtistId
0        156                             ...And Justice For All        50
1        257  20th Century Masters - The Millennium Collecti...       179
2        296                      A Copland Celebration, Vol. I       230
3         94                         A Matter of Life and Death        90
4         95                                    A Real Dead One        90
5         96                                    A Real Live One        90
6        285                                 A Soprano Inspired       219
7        139         A TempestadeTempestade Ou O Livro Dos Dias        99
8        203                                            A-Sides       132
9        160                                      Ace Of Spades       106
10       232                                       Achtung Baby       150
11       224                                           Acústico       146
12       167                                       Acústico MTV       113
13        26                                Acústico MTV [Live]        19
14       307                   Adams, John: The Chairman Dances       242
15       272  Adorate Deum: Gregorian Chant from the Proper ...       206
16        24                                     Afrociberdelia        18
17        74                                  Album Of The Year        82
18        14           Alcohol Fueled Brewtality Live! [Disc 1]        11
19        15           Alcohol Fueled Brewtality Live! [Disc 2]        11
20       233                    All That You Can't Leave Behind       150
21       273                                  Allegri: Miserere       207
22        89                                     American Idiot        54
23        75                                         Angel Dust        82
24       248                                   Ao Vivo [IMPORT]       155
25        90                           Appetite for Destruction        88
26       254                                            Aquaman       159
27       120                               Are You Experienced?        94
28       319  Armada: Music from the Courts of England and S...       251
29       168                                         Arquivo II       113
..       ...                                                ...       ...
317      280                  The World of Classical Favourites       214
318      113                                       The X Factor        90
319      220                                       Transmission       143
320      174                                            Tribute       114
321      241                 UB40 The Best Of - Volume Two [UK]       151
322      252                                          Un-Led-Ed       157
323       73                                          Unplugged        81
324      126                                   Unplugged [Live]        52
325       51                                        Up An' Atom        69
326       91                                Use Your Illusion I        88
327       92                               Use Your Illusion II        88
328      244                                          Van Halen       152
329      245                                      Van Halen III       152
330       67                 Vault: Def Leppard's Greatest Hits        78
331      247                                 Vinicius De Moraes        72
332       52                    Vinícius De Moraes - Sem Limite        70
333      114                                         Virtual XI        90
334      275                          Vivaldi: The Four Seasons       209
335      225                                        Volume Dois       146
336      218                                      Voodoo Lounge       142
337       53                                       Vozes do MPB        21
338      182                                                Vs.       118
339      287                        Wagner: Favourite Overtures       221
340      175                            Walking Into Clarksdale       115
341      239                                                War       150
342        8                                     Warner 25 Anos         6
343      334                       Weill: The Seven Deadly Sins       264
344      267                                             Worlds       202
345      240                                            Zooropa       150
346      208                        [1997] Black Light Syndrome       136

[347 rows x 3 columns]

### Exercise 1: Simple Queries

1. List all the rows in the genres table.
2. List only the genre names (nothing else) in the table.
3. List the genre names ordered by name.
4. List the genre entries with IDs between 13 and 17.
5. List the genre entries that start with an S.
6. List the GenreIds of Rock, Jazz, and Reggae (in one query).

## Referencing and Renaming

Not very exciting on it's own, but we'll want to referene exact names and rename them soon. Here we're using a fully qualified name `tracks.Name` to refer to the name column in the tracks table, and then rename it as `TrackName`.

In [15]:
pd.read_sql("""SELECT tracks.Name as TrackName FROM tracks;""", conn).head()

                                 TrackName
0  For Those About To Rock (We Salute You)
1                        Balls to the Wall
2                          Fast As a Shark
3                        Restless and Wild
4                     Princess of the Dawn

## Joining Tables

There are many ways to aggregate and group by with SQL, and we won't be able to cover them in detail. We'll use a simple example for an `INNER JOIN` to resolve a foreign key relationship here.

We want to create a long table that contains both track titles and for each track the album title. Let's take a looks at the tracks table:

In [16]:
pd.read_sql("""SELECT * FROM tracks;""", conn).head()

,TrackId,Name,AlbumId,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice
0,1,For Those About To Rock (We Salute You),1,1,1,"Angus Young, Malcolm Young, Brian Johnson",343719,11170334,0.99
1,2,Balls to the Wall,2,2,1,None,342562,5510424,0.99
2,3,Fast As a Shark,3,2,1,"F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...",230619,3990994,0.99
3,4,Restless and Wild,3,2,1,"F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...",252051,4331779,0.99
4,5,Princess of the Dawn,3,2,1,Deaffy & R.A. Smith-Diesel,375418,6290521,0.99

And the albums table:

In [17]:
pd.read_sql("""SELECT * FROM albums;""", conn).head(5)

   AlbumId                                  Title  ArtistId
0        1  For Those About To Rock We Salute You         1
1        2                      Balls to the Wall         2
2        3                      Restless and Wild         2
3        4                      Let There Be Rock         1
4        5                               Big Ones         3

We can see that AlbumID appears in both tables. This is the relationship we care about:

![](albums_tracks_tables.jpg)

An INNER JOIN simply merges tables based on a primary key / foreign key relationship. 

Here is an example:

In [18]:
pd.read_sql("""SELECT
 trackid,
 tracks.name as Track,
 albums.title as Album
FROM
 tracks
INNER JOIN albums ON albums.albumid = tracks.albumid""", conn).head(30)

,TrackId,Track,Album
0,1,For Those About To Rock (We Salute You),For Those About To Rock We Salute You
1,6,Put The Finger On You,For Those About To Rock We Salute You
2,7,Let's Get It Up,For Those About To Rock We Salute You
3,8,Inject The Venom,For Those About To Rock We Salute You
4,9,Snowballed,For Those About To Rock We Salute You
5,10,Evil Walks,For Those About To Rock We Salute You
6,11,C.O.D.,For Those About To Rock We Salute You
7,12,Breaking The Rules,For Those About To Rock We Salute You
8,13,Night Of The Long Knives,For Those About To Rock We Salute You
9,14,Spellbound,For Those About To Rock We Salute You
10,2,Balls to the Wall,Balls to the Wall
11,3,Fast As a Shark,Restless and Wild
12,4,Restless and Wild,Restless and Wild
13,5,Princess of the Dawn,Restless and Wild
14,15,Go Down,Let There Be Rock
15,16,Dog Eat Dog,Let There Be Rock
16,17,Let There Be Rock,Let There Be Rock
17,18,Bad Boy Boogie,Let There Be Rock
18,19,Problem Child,Let There Be Rock
19,20,Overdose,Let There Be Rock
20,21,Hell Ain't A Bad Place To Be,Let There Be Rock
21,22,Whole Lotta Rosie,Let There Be Rock
22,23,Walk On Water,Big Ones
23,24,Love In An Elevator,Big Ones
24,25,Rag Doll,Big Ones
25,26,What It Takes,Big Ones
26,27,Dude (Looks Like A Lady),Big Ones
27,28,Janie's Got A Gun,Big Ones
28,29,Cryin',Big Ones
29,30,Amazing,Big Ones

Let's take this statement apart:

```SQL
SELECT
 trackid,
 tracks.name as Track,
 albums.title as Album
```
Here, we chose what to select, and we also rename the columns for presentation purposes with the `as` statement. 

```SQL
FROM
 tracks
INNER JOIN albums ON albums.albumid = tracks.albumid;
```

This is where the magic happens: we say that the tracks and albums table should be joined on the `albums.albumid = tracks.albumid` relationship.

Using INNER JOIN, you can construct flat tables out of databases that you then can use in the data science process. SQL is of course much more powerful, you can do mathematical operations, group-by/aggregates, etc. However, we can do most of this on a dataframe also, but doing a join like that would be rather painful without the INNER JOIN SQL statement.

Next, we want to also add the artist name. We can just append another `INNER JOIN` statement.

In [19]:
pd.read_sql("""SELECT
 tracks.name as Track,
 albums.title as Album,
 artists.name as Artist 
FROM
 tracks
INNER JOIN albums ON albums.albumid = tracks.albumid
INNER JOIN artists ON artists.artistid = albums.artistid""", conn).head(40)

,Track,Album,Artist
0,For Those About To Rock (We Salute You),For Those About To Rock We Salute You,AC/DC
1,Put The Finger On You,For Those About To Rock We Salute You,AC/DC
2,Let's Get It Up,For Those About To Rock We Salute You,AC/DC
3,Inject The Venom,For Those About To Rock We Salute You,AC/DC
4,Snowballed,For Those About To Rock We Salute You,AC/DC
5,Evil Walks,For Those About To Rock We Salute You,AC/DC
6,C.O.D.,For Those About To Rock We Salute You,AC/DC
7,Breaking The Rules,For Those About To Rock We Salute You,AC/DC
8,Night Of The Long Knives,For Those About To Rock We Salute You,AC/DC
9,Spellbound,For Those About To Rock We Salute You,AC/DC
10,Balls to the Wall,Balls to the Wall,Accept
11,Fast As a Shark,Restless and Wild,Accept
12,Restless and Wild,Restless and Wild,Accept
13,Princess of the Dawn,Restless and Wild,Accept
14,Go Down,Let There Be Rock,AC/DC
15,Dog Eat Dog,Let There Be Rock,AC/DC
16,Let There Be Rock,Let There Be Rock,AC/DC
17,Bad Boy Boogie,Let There Be Rock,AC/DC
18,Problem Child,Let There Be Rock,AC/DC
19,Overdose,Let There Be Rock,AC/DC
20,Hell Ain't A Bad Place To Be,Let There Be Rock,AC/DC
21,Whole Lotta Rosie,Let There Be Rock,AC/DC
22,Walk On Water,Big Ones,Aerosmith
23,Love In An Elevator,Big Ones,Aerosmith
24,Rag Doll,Big Ones,Aerosmith
25,What It Takes,Big Ones,Aerosmith
26,Dude (Looks Like A Lady),Big Ones,Aerosmith
27,Janie's Got A Gun,Big Ones,Aerosmith
28,Cryin',Big Ones,Aerosmith
29,Amazing,Big Ones,Aerosmith
30,Blind Man,Big Ones,Aerosmith
31,Deuces Are Wild,Big Ones,Aerosmith
32,The Other Side,Big Ones,Aerosmith
33,Crazy,Big Ones,Aerosmith
34,Eat The Rich,Big Ones,Aerosmith
35,Angel,Big Ones,Aerosmith
36,Livin' On The Edge,Big Ones,Aerosmith
37,All I Really Want,Jagged Little Pill,Alanis Morissette
38,You Oughta Know,Jagged Little Pill,Alanis Morissette
39,Perfect,Jagged Little Pill,Alanis Morissette

Now we can combine that with a `WHERE` condition to get a more specific result. Here we're looking at all the Rolling Stones albums in this dataset.

In [20]:
pd.read_sql("""SELECT
 tracks.name as Track,
 albums.title as Album,
 artists.name as Artist 
FROM
 tracks
INNER JOIN albums ON albums.albumid = tracks.albumid
INNER JOIN artists ON artists.artistid = albums.artistid
WHERE artists.name = 'The Rolling Stones'""", conn).head(40)

,Track,Album,Artist
0,Time Is On My Side,"Hot Rocks, 1964-1971 (Disc 1)",The Rolling Stones
1,Heart Of Stone,"Hot Rocks, 1964-1971 (Disc 1)",The Rolling Stones
2,Play With Fire,"Hot Rocks, 1964-1971 (Disc 1)",The Rolling Stones
3,Satisfaction,"Hot Rocks, 1964-1971 (Disc 1)",The Rolling Stones
4,As Tears Go By,"Hot Rocks, 1964-1971 (Disc 1)",The Rolling Stones
5,Get Off Of My Cloud,"Hot Rocks, 1964-1971 (Disc 1)",The Rolling Stones
6,Mother's Little Helper,"Hot Rocks, 1964-1971 (Disc 1)",The Rolling Stones
7,19th Nervous Breakdown,"Hot Rocks, 1964-1971 (Disc 1)",The Rolling Stones
8,Paint It Black,"Hot Rocks, 1964-1971 (Disc 1)",The Rolling Stones
9,Under My Thumb,"Hot Rocks, 1964-1971 (Disc 1)",The Rolling Stones
10,Ruby Tuesday,"Hot Rocks, 1964-1971 (Disc 1)",The Rolling Stones
11,Let's Spend The Night Together,"Hot Rocks, 1964-1971 (Disc 1)",The Rolling Stones
12,Intro,No Security,The Rolling Stones
13,You Got Me Rocking,No Security,The Rolling Stones
14,Gimmie Shelters,No Security,The Rolling Stones
15,Flip The Switch,No Security,The Rolling Stones
16,Memory Motel,No Security,The Rolling Stones
17,Corinna,No Security,The Rolling Stones
18,Saint Of Me,No Security,The Rolling Stones
19,Wainting On A Friend,No Security,The Rolling Stones
20,Sister Morphine,No Security,The Rolling Stones
21,Live With Me,No Security,The Rolling Stones
22,Respectable,No Security,The Rolling Stones
23,Thief In The Night,No Security,The Rolling Stones
24,The Last Time,No Security,The Rolling Stones
25,Out Of Control,No Security,The Rolling Stones
26,Love Is Strong,Voodoo Lounge,The Rolling Stones
27,You Got Me Rocking,Voodoo Lounge,The Rolling Stones
28,Sparks Will Fly,Voodoo Lounge,The Rolling Stones
29,The Worst,Voodoo Lounge,The Rolling Stones
30,New Faces,Voodoo Lounge,The Rolling Stones
31,Moon Is Up,Voodoo Lounge,The Rolling Stones
32,Out Of Tears,Voodoo Lounge,The Rolling Stones
33,I Go Wild,Voodoo Lounge,The Rolling Stones
34,Brand New Car,Voodoo Lounge,The Rolling Stones
35,Sweethearts Together,Voodoo Lounge,The Rolling Stones
36,Suck On The Jugular,Voodoo Lounge,The Rolling Stones
37,Blinded By Rainbows,Voodoo Lounge,The Rolling Stones
38,Baby Break It Down,Voodoo Lounge,The Rolling Stones
39,Thru And Thru,Voodoo Lounge,The Rolling Stones

## Group By

We've seen group by before for dataframes, and we could just use pandas' group by since we're using a dataframe anyways. However, it's useful to understand how group by works in SQL as it can be much more efficient to just get the right data out in the first place.

In [21]:
pd.read_sql("""SELECT
 albumid,
 COUNT(trackid) as '# Tracks'
FROM
 tracks
GROUP BY
 albumid;""", conn).head()

   AlbumId  # Tracks
0        1        10
1        2         1
2        3         3
3        4         8
4        5        15

These are accurate counts, but now we want to combined them with album titles. We first do the INNER JOIN and then the GROUP BY.

In [22]:
pd.read_sql("""SELECT
 tracks.albumid,
 albums.title as Album,
 COUNT(tracks.trackid)
FROM
 tracks
INNER JOIN albums ON albums.albumid = tracks.albumid
GROUP BY
 tracks.albumid""", conn).head(30)

,AlbumId,Album,COUNT(tracks.trackid)
0,1,For Those About To Rock We Salute You,10
1,2,Balls to the Wall,1
2,3,Restless and Wild,3
3,4,Let There Be Rock,8
4,5,Big Ones,15
5,6,Jagged Little Pill,13
6,7,Facelift,12
7,8,Warner 25 Anos,14
8,9,Plays Metallica By Four Cellos,8
9,10,Audioslave,14
10,11,Out Of Exile,12
11,12,BackBeat Soundtrack,12
12,13,The Best Of Billy Cobham,8
13,14,Alcohol Fueled Brewtality Live! [Disc 1],13
14,15,Alcohol Fueled Brewtality Live! [Disc 2],5
15,16,Black Sabbath,7
16,17,Black Sabbath Vol. 4 (Remaster),10
17,18,Body Count,17
18,19,Chemical Wedding,11
19,20,The Best Of Buddy Guy - The Millenium Collection,11
20,21,Prenda Minha,18
21,22,Sozinho Remix Ao Vivo,3
22,23,Minha Historia,34
23,24,Afrociberdelia,23
24,25,Da Lama Ao Caos,13
25,26,Acústico MTV [Live],17
26,27,Cidade Negra - Hits,14
27,28,Na Pista,10
28,29,Axé Bahia 2001,14
29,30,BBC Sessions [Disc 1] [Live],14

We can combine this with filters, using `HAVING COUNT`.

In [23]:
pd.read_sql("""SELECT
 tracks.albumid,
 albums.title as Album,
 COUNT(tracks.trackid)
FROM
 tracks
INNER JOIN albums ON albums.albumid = tracks.albumid
GROUP BY
 tracks.albumid
HAVING COUNT(tracks.trackid) > 15;""", conn).head(30)

,AlbumId,Album,COUNT(tracks.trackid)
0,18,Body Count,17
1,21,Prenda Minha,18
2,23,Minha Historia,34
3,24,Afrociberdelia,23
4,26,Acústico MTV [Live],17
5,33,Chill: Brazil (Disc 1),17
6,34,Chill: Brazil (Disc 2),17
7,36,Greatest Hits II,17
8,37,Greatest Kiss,20
9,39,International Superhits,21
10,51,Up An' Atom,22
11,54,"Chronicle, Vol. 1",20
12,55,"Chronicle, Vol. 2",20
13,67,Vault: Def Leppard's Greatest Hits,16
14,72,The Cream Of Clapton,18
15,73,Unplugged,30
16,83,My Way: The Best Of Frank Sinatra [Disc 1],24
17,84,Roda De Funk,16
18,91,Use Your Illusion I,16
19,102,Live After Death,18
20,115,Sex Machine,20
21,120,Are You Experienced?,17
22,125,Living After Midnight,16
23,140,Mais Do Mesmo,16
24,141,Greatest Hits,57
25,145,Barulhinho Bom,18
26,146,Seek And Shall Find: More Of The Best (1963-1981),18
27,149,Garage Inc. (Disc 2),16
28,162,Motley Crue Greatest Hits,17
29,163,From The Muddy Banks Of The Wishkah [Live],17

Here are several other aggregation functions, `AVG, MAX` and `SUM`. We also do some simple math to convert miliseconds into minutes for the average:

In [24]:
pd.read_sql("""SELECT
 tracks.albumid,
 albums.title as Album,
 COUNT(tracks.trackid),
 AVG(tracks.Milliseconds)/1000/60 as 'Average(minutes)',
 MAX(tracks.Milliseconds),
 SUM(tracks.Milliseconds)
FROM
 tracks
INNER JOIN albums ON albums.albumid = tracks.albumid
GROUP BY
 tracks.albumid
ORDER BY 
  AVG(tracks.Milliseconds) DESC""", conn).head(30)

,AlbumId,Album,COUNT(tracks.trackid),Average(minutes),MAX(tracks.Milliseconds),SUM(tracks.Milliseconds)
0,253,"Battlestar Galactica (Classic), Season 1",24,48.759572,2960293,70213784
1,227,"Battlestar Galactica, Season 3",19,46.304422,5286953,52787041
2,229,"Lost, Season 3",26,45.298450,5088838,70665582
3,231,"Lost, Season 2",24,43.951133,2825166,63289631
4,226,Battlestar Galactica: The Story So Far,1,43.704167,2622250,2622250
5,228,"Heroes, Season 1",23,43.319035,2687103,59780268
6,230,"Lost, Season 1",25,43.236624,2631327,64854936
7,254,Aquaman,1,41.409450,2484567,2484567
8,261,"LOST, Season 4",17,38.694542,2612779,39468433
9,251,"The Office, Season 3",25,25.544730,2541875,38317095
10,249,"The Office, Season 1",6,22.153233,1380833,7975164
11,250,"The Office, Season 2",22,21.694095,1712791,28636206
12,50,The Final Concerts (Disc 2),4,15.534900,1196094,3728376
13,138,The Song Remains The Same (Disc 2),4,12.655996,863895,3037439
14,198,Santana Live,6,11.232064,1070027,4043543
15,294,Great Performances - Barber's Adagio and Other...,1,9.941983,596519,596519
16,137,The Song Remains The Same (Disc 1),5,9.813237,1612329,2943971
17,279,Handel: The Messiah (Highlights),1,9.700483,582029,582029
18,208,[1997] Black Light Syndrome,7,9.596510,880640,4030534
19,330,Górecki: Symphony No. 3,1,9.458233,567494,567494
20,312,Berlioz: Symphonie Fantastique,1,9.366117,561967,561967
21,301,Chopin: Piano Concertos Nos. 1 & 2,1,9.339033,560342,560342
22,299,Scheherazade,1,9.086717,545203,545203
23,197,Santana - As Years Go By,8,8.966415,882834,4303879
24,311,Strauss: Waltzes,1,8.778267,526696,526696
25,292,"Holst: The Planets, Op. 32 & Vaughan Williams:...",1,8.701650,522099,522099
26,273,Allegri: Miserere,1,8.358383,501503,501503
27,43,MK III The Final Concerts [Disc 1],7,8.296731,804101,3484627
28,342,"Locatelli: Concertos for Violin, Strings and C...",1,8.226217,493573,493573
29,306,Elgar: Cello Concerto & Vaughan Williams: Fant...,1,8.052217,483133,483133

## Exercise 2: Joining

1. Create a table that contains track names, genre name and genre ID for each track. Hint: the table is sorted by genres, look at the tail of the dataframe to make sure it works correctly.
2. Create a table that contains the counts of tracks in a genre by using the GenreID.
3. Create a table that contains the genre name and the count of tracks in that genre.
4. Sort the previous table by the count. Which are the biggest genres? Hint: the DESC keyword can be added at the end of the sorting expression.

## Security

We can use python variables to specify the columns. However, you typically shouldn't trust the content of the variables, especially in a user facing system. Imagine, you read in which attribute to query for from a website field where a user can specify a name. The user could use this to attack your SQL server using [SQL Injection](https://en.wikipedia.org/wiki/SQL_injection). For example, for this statement:

In [27]:
title = "Big Ones"
# executescript runs multiple sql statements. 
# This isn't very helpful for quering, but can be great for other operations.
c.executescript("""SELECT * FROM albums WHERE Title = '""" + title + "'")

Let's look at the tables in the database:

In [28]:
pd.read_sql("""SELECT name FROM sqlite_master
            WHERE type='table'
            ORDER BY name;
            """, conn)

               name
0            albums
1           artists
2         customers
3         employees
4            genres
5     invoice_items
6          invoices
7       media_types
8    playlist_track
9         playlists
10  sqlite_sequence
11     sqlite_stat1
12           tracks

Now, if we were to read `title` from a user, and adversarial user could write: 

```SQL
"a';DROP TABLE invoice_items;"
```

This selects everything from table "a", then concludes the SQL command with `;`, and then executed the next SQL command `DROP TABLE invoice_items`, which – you guessed it – deletes the table invoice_items.

In [29]:
title = "a';DROP TABLE invoice_items;"
print("""SELECT * FROM albums WHERE Title = '""" + title + "'")
c.executescript("""SELECT * FROM albums WHERE Title = '""" + title + "'")

SELECT * FROM albums WHERE Title = 'a';DROP TABLE invoice_items;'

OperationalError: unrecognized token: "'"

This throws an error, but the table is gone:

In [30]:
pd.read_sql("""SELECT name FROM sqlite_master
            WHERE type='table'
            ORDER BY name;
            """, conn)

               name
0            albums
1           artists
2         customers
3         employees
4            genres
5          invoices
6       media_types
7    playlist_track
8         playlists
9   sqlite_sequence
10     sqlite_stat1
11           tracks

Instead, you should use a ? for substitution, and pass in a tuple. This will make sure that no additional statements will be executed.

In [31]:
title = ("a';DROP TABLE invoice_items;",)
# this will result in an error
c.executescript('SELECT * FROM albums WHERE title=?', title)

TypeError: function takes exactly 1 argument (2 given)

Here is a working example with safe code:

In [32]:
title = ("Big Ones",)
# this will result in an error
c.execute('SELECT * FROM albums WHERE title=?', title)
c.fetchone()

(5, 'Big Ones', 3)

Of course that's not all to say about making your code secure, but it's a start!

![](exploits_of_a_mom.png)