# Lecture 3 Exercise Solutions

## Exercise 1: Data Types and Operators

**Task 1.1:** Try how capitalization affects string comparison, e.g., compare "datascience" to "Datascience".

In [1]:
# Two strings are not considered equal if they have different capitalization.
"datascience" == "Datascience"

False

In [2]:
# I can make the strings lowercase to compare them, though. 
# That works for ASCII, but there are Unicode cases where that breaks.
"dAtAscience".lower() == "Datascience".lower()

True

**Task 1.2:** Try to compare floats using the `==` operator defined as expressions of integers, e.g., whether 1/3 is equal to 2/6. Does that work?

In [3]:
# Comparing floats works sometimes, but you shouldn't rely on it ever! 
1/5 == 2/10

True

In [4]:
a = 0.2 + 0.2 + 0.2
b = 0.6
a == b

False

In [5]:
a = 0.3
b = 0.1 + 0.1 + 0.1
a == b

False

In [6]:
a = 0.2
b = 0.1 + 0.1
a == b

True

In [7]:
a = 7/10
b = 14/20
a == b

True

In [8]:
a = 0.2 + 0.2 + 0.2 + 0.2
b = 0.8
a == b

True

**Task 1.3:** Write an expression that compares the "floor" value of a float to an integer, e.g., compare the floor of 1/3 to 0. There are two ways to calculate a floor value: using `int()` and using `math.floor()`. Are they equal? What is the data type of the returned values?

In [9]:
a = 0.1 + 0.1 + 0.1
type(a)

float

In [10]:
b = int(a)
0 == b

True

In [11]:
type(b)

int

In [12]:
import math
b = math.floor(a)
0 == b

True

In [13]:
type(b)

int

Both operations return an int and therefore can be safely compared.

## Exercise 3: Functions and If

Write a function that takes two integers. If either of the numbers can be divided by the other without a remainder, print the result of the division. If none of the numbers can divide the other one, print an error message.

In [14]:
def areFactors(x, y):
    print("-------")
    print("x:", x, "y:", y)
    factorExists = False
    if (not x % y): 
        print(x,"/",y,"=",x/y)
        factorExists = True
    
    if (not y % x):
        print(y,"/",x,"=",y/x)
        factorExists = True

    if (not factorExists):
        print("These numbers are not fators of each other")
        
areFactors(2, 4)
areFactors(4, 4)
areFactors(4, 2)
areFactors(6, 3)
areFactors(41263, 123789)
areFactors(7, 9)

-------
x: 2 y: 4
4 / 2 = 2.0
-------
x: 4 y: 4
4 / 4 = 1.0
4 / 4 = 1.0
-------
x: 4 y: 2
4 / 2 = 2.0
-------
x: 6 y: 3
6 / 3 = 2.0
-------
x: 41263 y: 123789
123789 / 41263 = 3.0
-------
x: 7 y: 9
These numbers are not fators of each other

## Exercise 4: Lists

In [15]:
# state of other notebook
beatles = ["Paul", "John", "George", "Ringo"]
zeppelin = ["Jimmy", "Robert", "John", "John"]
bands = [beatles, zeppelin]

In [16]:
stones = ["Mick", "Keith", "Charlie", "Ronnie"]
original_members = stones[0:3]
original_members

['Mick', 'Keith', 'Charlie']

In [17]:
bands.append(original_members)
bands

[['Paul', 'John', 'George', 'Ringo'],
 ['Jimmy', 'Robert', 'John', 'John'],
 ['Mick', 'Keith', 'Charlie']]

## Exercise 5.1: While

In [18]:
sum = 0
count = 1
while (count <= 100):
    sum += count
    count += 1

sum

5050

## Exercise 5.2: For

### 5.2.1: Array with even numbers

In [19]:
even_numbers = []
for i in range(51):
    if (i == 0):
        continue
    elif (i%2 == 0):
        even_numbers.append(i)
        
even_numbers

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50]

### 5.2.2: Foreach band member, add instrument

In [20]:
beatles = ["Paul", "John", "George", "Ringo"]
instruments = ["Bass", "Rythm Guitar", "Lead Guitar", "Drums"]

count = 0
for member in beatles:
    print (member + ": " + instruments[count])
    count +=1

Paul: Bass
John: Rythm Guitar
George: Lead Guitar
Ringo: Drums

## Exercise 6: Recursion

Write a recursive function that calculates the factorial of a number.

In [21]:
def factorial(n):
    if(n>0):
        return n * factorial(n-1)
    else:
        return 1

In [22]:
factorial(6)

720

## Exercise 7: List Comprehension

Write a list comprehension function that creates an array with the length of the words in the following sentence:

In [23]:
sentence = "the quick brown fox jumps over the lazy dog"
word_list = sentence.split()
word_list

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [24]:
[len(word) for word in word_list]

[3, 5, 5, 3, 5, 4, 3, 4, 3]